################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/WebApp/bin
/WebApp/obj/Debug
/WebAppTests/obj/Debug
