################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/$tf
/WebApp/Web.config
/WebApp/bin
/WebAppTests/App.config
/WebApp/obj/Debug
/WebAppTests/obj/Debug
/WebApp/WebApp.csproj.vspscc
/WebAppTests/WebAppTests.csproj.vspscc
merakiprod.PublishSettings
*.suo
*.xml
*.cache
*user
/WebApp/obj/Release
/WebApp/Properties/PublishProfiles
/WebAppTests/obj/Release
/WebAppTests/bin/
/Public/bin/
/Public/obj/
/Public/Properties/PublishProfiles/
/Public/Web.config
/packages
/WebApp/connections.config
/WebAppTests/connections.config
WebApp/_connections.config
