################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/WebApp/Web.config
/WebApp/bin
/WebAppTests/App.config
/WebApp/obj/Debug
/WebAppTests/obj/Debug

*.suo
*.xml
*.cache
*user
/WebApp/obj/Release
/WebApp/Properties/PublishProfiles
/WebAppTests/obj/Release
/WebAppTests/bin/
/Public/bin/
/Public/obj/
/Public/Properties/PublishProfiles/
/packages