@{
    ViewBag.Title = "Dropbit.io - Distillery Management Made Easy";
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn').click(function () {
                var isDisabled = $('.btn').is("[disabled]");
                if (!isDisabled && validateNotEmpty() && grecaptcha.getResponse().length > 0)
                {
                    var name = $('#name_input').val();
                    var email = $('#email_input').val();
                    var organization = $('#organization_input').val();
                    var captchaResponse = window.grecaptcha.getResponse();
                    var data = {
                        "Name": name,
                        "Email": email,
                        "Organization": organization,
                        "Response": captchaResponse
                    };
                    $.ajax({
                        type: 'POST',
                        url: '/api/contacts/',
                        contentType: 'application/json',
                        data: data ? JSON.stringify(data) : null
                    }).done(function () {
                        $('form').prepend('<div class="alert alert-success" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>Thank you for signing up!</div>');
                        $('input').val('').attr('disabled', true);
                        $('.btn').attr('disabled', true);
                        window.grecaptcha.reset();
                    }).fail(function () {
                        $('form').prepend('<div class="alert alert-danger" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>Unfortunately we were unable to process your request!</div>');
                        $('input').val('').attr('disabled');
                        $('.btn').attr('disabled');
                        window.grecaptcha.reset();
                    });
                }
            })
            $('form').on('close.bs.alert', '.alert', function () {
                $('input').removeAttr('disabled');
                $('.btn').removeAttr('disabled');
            })
        })
        function validateNotEmpty() {
            var name = $('#name_input').val();
            var email = $('#email_input').val();
            if ((name !== '' && name !== undefined) && (email !== '' && email !== undefined)) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}

<div class="row">
    <div class="col-lg-7 col-md-7">
        <h1>Distillery Management<br />Made Easy</h1>
        <h2>by distillers, for distillers</h2>
    </div>
    <div class="col-lg-5 col-md-5">
        <div class="well">
            <form>
                <div class="form-group">
                    <h2>Sign-up for updates</h2>
                </div>
                <div class="form-group">
                    <p class="help-block">We do not share your information with third parties.</p>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="name_input" placeholder="Name (required)">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email_input" placeholder="Email (required)">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="organization_input" placeholder="Organization (optional)">
                </div>
                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="***REMOVED***"></div>
                </div>
                <div class="form-group">
                    <a href="#" class="btn btn-primary btn-lg">Sign-up</a>
                </div>
            </form>
        </div>
    </div>
</div>